*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open sans' sans-serif;
}

.wrapper {
    margin: auto;
    position: relative;
}

.logo {
    font-size: 50px;
    font-weight: 800;
    font-family: 'calibri';
    float: left;
    color: rgb(207, 37, 7);
}

.menu {
    float: right;
}
nav ul {
     list-style-type: none;
     margin: 0px;
     padding: 0px;
     overflow: hidden;
 }

 nav ul li {
     float: left;
 }

 nav ul li a {
     display: inline;
     color: black;
     font-weight: bold;
     padding: 0px 15px 0px 15px;
    text-decoration: none;
 }

 nav ul li a:hover {
     text-decoration: underline;
 }

 section {
     margin: auto;
     display: flex;
     margin-bottom: 50px;
 }