* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 12px;
    font-family: 'Calibri';
}

h1 {
    margin: auto;
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    color: chocolate;
    margin-bottom: 12px;
}

